html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  color: #222;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

h1 {
  font-size: 1.5rem;
}

nav {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
}

nav ol {
  list-style-type: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

figure {
  text-align: center;
}

figcaption {
  font-style: italic;
}

main > p:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote {
  font-size: .8rem;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote p strong {
  font-weight: normal;
}

.varieties {
  list-style-type: lower-greek;
}

dt {
  font-weight: bold;
}
